.login-container {
  /*background-color: #423370;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  //background-image: url("/background.png");*/
  height: 100vh;
  //display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  //color: white;
}

h2 {
  margin: 0;
  font-size: 2rem;
  //color: white;
  //padding-bottom: 20px;
}

p {
  margin: 0;
  font-size: 1.2rem;
  //color: white;
  //padding-bottom: 40px;
}

.button-container {
  width: 100%;
  max-width: 300px;
}

.custom-button {
  margin-bottom: 10px;
  background-color: white;
  color: black;
  border-radius: 12px;
  width: 100%;
}
